*{
    margin: 0;
    padding: 0;
}


.cabecalho {
    background-color: #ff6400;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 19%;
}


.cabecalho-lista-item{
    display: inline-block;
    margin: 0 18px;
    padding: 24px 0;
    font-size: 30px ;
}

.mapa-da-italia{
    width: 20%;
    margin-left: 25em;
}

.Massas{
    background-image: linear-gradient(#ff6400,#fabd78);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Massas-div-conteudo{
    width: 35%;
}

.massas-titulo{
    padding: 24px 0;
    font-size: 300%;
}
 .massas-texto-um{
    font-size: 150%;
 }

 .massas-texto-dois{
    font-size: 150%;
 }

 .risotocamarao{
    width: 20%;
 }

 .Risotos-titulo{
    text-align: center;
    padding: 50px 0;
 }

 .pratos-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
 }