*{
    margin: 0;
    padding: 0;
}


.cabecalho {
    background-color: #ee8641;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 19%;
}


.cabecalho-lista-item{
    display: inline-block;
    margin: 0 18px;
    padding: 24px 0;
    font-size: 30px ;
}
